___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Introduction to Pandas

In this section of the course we will learn how to use pandas for data analysis. You can think of pandas as an extremely powerful version of Excel, with a lot more features. In this section of the course, you should go through the notebooks in this order:

* Introduction to Pandas
* Series
* DataFrames
* Missing Data
* GroupBy
* Merging,Joining,and Concatenating
* Operations
* Data Input and Output

___

In [2]:
import numpy as np
import pandas as pd

In [9]:
### lets work with pandas series ####
# a series is like a numpy array. They difference is that it can be
# indexed by label

labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [6]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [13]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(my_data,labels) # note how one does not need to specify the params as long as they are passed in the right order

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [19]:
pd.Series(arr,labels) # note how one does not need to specify the params as long as they are passed in the right order

a    10
b    20
c    30
dtype: int32

In [21]:
#or one could pass it a dictionary and pandas will do the rest of the work for you
# also note that a pandas Series is not limited to holding numbers but can also hold any other type of DataTypes
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [34]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [35]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [36]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64