In [13]:
import pandas as pd

df = pd.DataFrame({'IB_TICKER':['AAPL','MSFT','GOOG','SQ','aapl2'],
                  'BBG_TICKER':['AAPL US Equity', 'MSFT US Equity','GOOG US Equity','SQ US Equity','AAPL US Equity']})
df

       BBG_TICKER IB_TICKER
0  AAPL US Equity      AAPL
1  MSFT US Equity      MSFT
2  GOOG US Equity      GOOG
3    SQ US Equity        SQ
4  AAPL US Equity     aapl2

In [65]:
new_df = df['BBG_TICKER'].value_counts() > 1

tickers = df['BBG_TICKER'].values.tolist()

repeats = []
ongoing =[]
for ticker in tickers:
    if ticker in ongoing:
        repeats.append(ticker)
    else:
        ongoing.append(ticker)

print(repeats)

['AAPL US Equity']

In [18]:
df[df['IB_TICKER'] == 'AAPL']['BBG_TICKER']

0    AAPL US Equity
Name: BBG_TICKER, dtype: object